<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zlyyh.mapper.CustOrderMapper">

    <resultMap type="com.ruoyi.zlyyh.domain.CustOrder" id="CustOrderResult">
        <result property="orderId" column="order_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="custId" column="cust_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="mainImage" column="main_image"/>
        <result property="type" column="type"/>
        <result property="totalPrice" column="total_price"/>
        <result property="totalPoint" column="total_point"/>
        <result property="reducedPrice" column="reduced_price"/>
        <result property="discountPrice" column="discount_price"/>
        <result property="realPricePoint" column="real_price_point"/>
        <result property="payTime" column="pay_time"/>
        <result property="expireDate" column="expire_date"/>
        <result property="totalNum" column="total_num"/>
        <result property="status" column="status"/>
        <result property="mobile" column="mobile"/>
        <result property="exgStatus" column="exg_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="syncOrderData" resultMap="CustOrderResult">
        select * from t_order where create_time between #{startTime} and #{endTime} limit #{pageNum},#{pageSize}
    </select>

</mapper>
