<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zlyyh.mapper.CustMapper">

    <resultMap type="com.ruoyi.zlyyh.domain.Cust" id="CustResult">
        <result property="custId" column="cust_id"/>
        <result property="unionpayOpenid" column="unionpay_openid"/>
        <result property="mobile" column="mobile"/>
        <result property="certPath" column="cert_path"/>
        <result property="faceUrl" column="face_url"/>
        <result property="realName" column="real_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectAll" resultMap="CustResult">
        select * from t_cust where create_time between #{startTime} and #{endTime} limit #{pageNum},#{pageSize}
    </select>

</mapper>
