<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zlyyh.mapper.ShopMapper">

    <resultMap type="com.ruoyi.zlyyh.domain.Shop" id="ShopResult">
        <result property="shopId" column="shop_id"/>
        <result property="commercialTenantId" column="commercial_tenant_id"/>
        <result property="shopName" column="shop_name"/>
        <result property="shopTel" column="shop_tel"/>
        <result property="businessHours" column="business_hours"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="formattedAddress" column="formatted_address"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="procode" column="procode"/>
        <result property="citycode" column="citycode"/>
        <result property="adcode" column="adcode"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="supportChannel" column="support_channel"/>
        <result property="platformKey" column="platform_key"/>
        <result property="showStartDate" column="show_start_date"/>
        <result property="showEndDate" column="show_end_date"/>
        <result property="assignDate" column="assign_date"/>
        <result property="weekDate" column="week_date"/>
        <result property="sellTime" column="sell_time"/>
        <result property="holiday" column="holiday"/>
        <result property="shopImgs" column="shop_imgs"/>
        <result property="shopLogo" column="shop_logo"/>
        <result property="sort" column="sort"/>
        <result property="shopTags" column="shop_tags"/>
        <result property="shopType" column="shop_type"/>
        <result property="extensionServiceProviderId" column="extension_service_provider_id"/>
        <result property="pushType" column="push_type"/>
        <result property="productType" column="product_type"/>
        <result property="supplierShopId" column="supplier_shop_id"/>
        <result property="sysDeptId" column="sys_dept_id"/>
        <result property="sysUserId" column="sys_user_id"/>
        <result property="isShare" column="is_share"/>
        <result property="supplier" column="supplier"/>
        <result property="license" column="license"/>
        <result property="nature" column="nature"/>
        <result property="invoice" column="invoice"/>
        <result property="account" column="account"/>
        <result property="accountPayee" column="account_payee"/>
        <result property="accountBank" column="account_bank"/>
        <result property="accountPayee" column="account_payee"/>
        <result property="productType" column="product_type"/>
        <result property="activity" column="activity"/>
        <result property="autoBusiness" column="auto_business"/>
        <result property="examineVerifier" column="examine_verifier"/>
    </resultMap>


    <resultMap type="com.ruoyi.zlyyh.domain.vo.ShopVo" id="ShopVo">
        <result property="shopId" column="shop_id"/>
        <result property="commercialTenantId" column="commercial_tenant_id"/>
        <result property="shopName" column="shop_name"/>
        <result property="shopTel" column="shop_tel"/>
        <result property="businessHours" column="business_hours"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="formattedAddress" column="formatted_address"/>
        <result property="citycode" column="citycode"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="distance" column="distance"/>
    </resultMap>

    <resultMap type="com.ruoyi.zlyyh.domain.vo.ShopProductListVo" id="ShopProductResult">
        <result property="shopId" column="shop_id"/>
        <result property="commercialTenantId" column="commercial_tenant_id"/>
        <result property="shopName" column="shop_name"/>
        <result property="shopTel" column="shop_tel"/>
        <result property="businessHours" column="business_hours"/>
        <result property="address" column="address"/>
        <result property="formattedAddress" column="formatted_address"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="shopImgs" column="shop_imgs"/>
        <result property="shopLogo" column="shop_logo"/>
        <result property="shopTags" column="shop_tags"/>
        <result property="sort" column="sort"/>
        <result property="distance" column="distance"/>
    </resultMap>

    <sql id="selectShop">
        SELECT s.*,
               ACOS(
                           COS(RADIANS(#{bo.latitude})) *
                           COS(RADIANS(latitude)) *
                           COS(RADIANS(longitude) - RADIANS(#{bo.longitude})) +
                           SIN(RADIANS(#{bo.latitude})) *
                           SIN(RADIANS(latitude))
                   ) * 6378 AS distance
        FROM t_shop s
                 left join t_commercial_tenant ct on s.commercial_tenant_id = ct.commercial_tenant_id
        WHERE s.STATUS = '0'
          AND s.commercial_tenant_id IS NOT NULL
          and ct.`status` = '0'
    </sql>

    <sql id="selectShopByProductId">
        SELECT s.*,
               ACOS(
                           COS(RADIANS(#{bo.latitude})) *
                           COS(RADIANS(latitude)) *
                           COS(RADIANS(longitude) - RADIANS(#{bo.longitude})) +
                           SIN(RADIANS(#{bo.latitude})) *
                           SIN(RADIANS(latitude))
                   ) * 6378 AS distance
        FROM t_shop s
                 left join t_shop_product sp on s.shop_id = sp.shop_id
        WHERE s.STATUS = '0'
    </sql>

    <select id="selectShopListByProductId" resultMap="ShopVo">
        <include refid="selectShopByProductId"></include>
        and sp.product_id = #{bo.productId}
        <if test="bo.citycode != null and bo.citycode != ''">AND s.citycode =
            #{bo.citycode}
        </if>
        <if test="bo.shopName != null and bo.shopName != ''">
            AND (s.shop_name like concat('%', #{bo.shopName}, '%')
            or s.address like concat('%', #{bo.shopName}, '%')
            or s.formatted_address like concat('%', #{bo.shopName}, '%'))
        </if>
        ORDER BY distance
    </select>

    <select id="selectShopList" resultMap="ShopVo">
        <include refid="selectShop"></include>
        <if test="bo.commercialTenantId != null and bo.commercialTenantId != ''">AND s.commercial_tenant_id =
            #{bo.commercialTenantId}
        </if>
        <if test="bo.citycode != null and bo.citycode != ''">AND s.citycode =
            #{bo.citycode}
        </if>
        <if test="bo.shopName != null and bo.shopName != ''">
            AND (s.shop_name like concat('%', #{bo.shopName}, '%')
            or s.address like concat('%', #{bo.shopName}, '%')
            or s.formatted_address like concat('%', #{bo.shopName}, '%'))
        </if>
        ORDER BY sort asc,distance asc
    </select>

    <select id="selectShopListByCommercialTenantId" resultMap="ShopVo">
        <include refid="selectShop"></include>
        <if test="bo.commercialTenantIds != null">
            AND s.commercial_tenant_id in
            <foreach collection="bo.commercialTenantIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="bo.citycode != null and bo.citycode != ''">
            AND s.citycode = #{bo.citycode}
        </if>
        ORDER BY distance
    </select>
    <select id="queryPageList" resultType="com.ruoyi.zlyyh.domain.vo.ShopVo">
        select a.*
        from t_shop a left join t_business_district_shop bds on a.shop_id = bds.shop_id
        <where>
            <if test="bo.commercialTenantId != null and bo.commercialTenantId != ''">
                and a.commercial_tenant_id = #{bo.commercialTenantId}
            </if>
            <if test="bo.status != null and bo.status != ''">
                and a.status = #{bo.status}
            </if>
            <if test="bo.examineVerifier != null and bo.examineVerifier != ''">
                and a.examine_verifier = #{bo.examineVerifier}
            </if>
            <if test="bo.platformKey != null and bo.platformKey != ''">
                and a.platform_key = #{bo.platformKey}
            </if>
            <if test="bo.businessDistrictId != null and bo.businessDistrictId != ''">
                and bds.business_district_id = #{bo.businessDistrictId}
            </if>
            <if test="bo.shopName != null and bo.shopName != ''">
                and (a.shop_name like concat('%', #{bo.shopName}, '%')
                or a.address like concat('%', #{bo.shopName}, '%')
                or a.formatted_address like concat('%', #{bo.shopName}, '%'))
            </if>
            <if test="bo.province != null and bo.province != ''">
                and (a.province like concat('%', #{bo.province}, '%')
                or a.city like concat('%', #{bo.province}, '%')
                or a.district like concat('%', #{bo.province}, '%'))
            </if>
        </where>
        order by a.create_time desc
    </select>


        <select id="selectShopProductList" resultMap="ShopProductResult">
            WITH cte_product AS (
            SELECT
            p.*
            FROM
            t_product p
            <if test="bo.categoryIds != null and bo.categoryIds.size > 0">
                LEFT JOIN t_category_product cp ON p.product_id = cp.product_id
            </if>
            WHERE
            p.`status` = '0'
            AND p.search_status = '0'
            AND p.search = '0'
            AND p.show_index = '1'
            AND ( p.show_start_date IS NULL OR p.show_start_date &lt; NOW() )
            AND ( p.show_end_date IS NULL OR p.show_end_date &gt; NOW() )
            AND ( p.platform_key IS NULL OR p.platform_key = #{bo.platformKey} )
            AND ( p.show_city = 'ALL' OR p.show_city LIKE concat('%', #{bo.cityCode}, '%') )
            <if test="bo.categoryIds != null and bo.categoryIds.size > 0">
                AND cp.category_id IN
                <foreach collection="bo.categoryIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            ),
            cte_shop AS (
            SELECT
            s.*,
            ACOS(
            COS(
            RADIANS( #{bo.latitude} )) * COS(
            RADIANS( latitude )) * COS(
            RADIANS( longitude ) - RADIANS( #{bo.longitude} )) + SIN(
            RADIANS( #{bo.latitude} )) * SIN(
            RADIANS( latitude ))
            ) * 6378 AS distance,
            ct.STATUS AS commercial_tenant_status
            FROM
            t_shop s
            LEFT JOIN t_shop_product sp ON s.shop_id = sp.shop_id
            LEFT JOIN cte_product cp ON sp.product_id = cp.product_id
            LEFT JOIN t_commercial_tenant ct ON s.commercial_tenant_id = ct.commercial_tenant_id
            WHERE
            s.citycode = #{bo.cityCode}
            AND s.STATUS = '0'
            AND (s.show_start_date IS NULL OR s.show_start_date &lt; NOW())
            AND (s.show_end_date IS NULL OR s.show_end_date &gt; NOW())
            AND cp.product_id IS NOT NULL
            )
            SELECT * FROM (
            SELECT d.* FROM (
            SELECT b.commercial_tenant_id,
            min( b.distance ) distance
            FROM
            ( SELECT * FROM cte_shop WHERE commercial_tenant_id IS NOT NULL AND `commercial_tenant_status` = '0' ) b
            GROUP BY
            b.commercial_tenant_id
            ) c
            LEFT JOIN ( SELECT * FROM cte_shop WHERE commercial_tenant_id IS NOT NULL AND `commercial_tenant_status` =
            '0' ) d ON c.commercial_tenant_id = d.commercial_tenant_id
            AND c.distance = d.distance
            GROUP BY
            d.shop_id UNION ALL
            SELECT
            *
            FROM
            cte_shop
            WHERE
            commercial_tenant_id IS NULL
            GROUP BY
            shop_id
            ) a
            <if test="bo.orderByType != null and bo.orderByType == '0'">
                ORDER BY
                a.sort,
                a.shop_id DESC
            </if>
            <if test="bo.orderByType != null and bo.orderByType == '1'">
                ORDER BY
                a.distance
            </if>
        </select>

<!--    <sql id="selectShopProductListWhere">-->
<!--        WHERE s.citycode = #{bo.cityCode}-->
<!--        AND s.STATUS = '0'-->
<!--        AND (s.show_start_date IS NULL OR s.show_start_date &lt; NOW())-->
<!--        AND (s.show_end_date IS NULL OR s.show_end_date &gt; NOW())-->
<!--        AND p.product_id IS NOT NULL-->
<!--        AND p.`status` = '0'-->
<!--        AND p.search_status = '0'-->
<!--        AND p.search = '0'-->
<!--        AND p.show_index = '1'-->
<!--        AND (p.show_start_date IS NULL OR p.show_start_date &lt; NOW())-->
<!--        AND (p.show_end_date IS NULL OR p.show_end_date &gt; NOW())-->
<!--    </sql>-->

<!--    <sql id="selectShopProductListLocation">-->
<!--        ACOS-->
<!--        ( COS(-->
<!--            RADIANS(#{bo.latitude})) * COS(-->
<!--            RADIANS(latitude)) * COS(-->
<!--            RADIANS(longitude) - RADIANS(#{bo.longitude})) +-->
<!--            SIN(RADIANS(#{bo.latitude})) * SIN(RADIANS(latitude)))-->
<!--        * 6378 AS distance-->
<!--    </sql>-->

<!--    <select id="selectShopProductList" resultMap="ShopProductResult">-->
<!--        select * from (-->
<!--        SELECT-->
<!--        d.*-->
<!--        FROM-->
<!--        (-->
<!--        SELECT-->
<!--        b.commercial_tenant_id,-->
<!--        min( b.distance ) distance-->
<!--        FROM-->
<!--        (-->
<!--        SELECT DISTINCT-->
<!--        s.commercial_tenant_id,-->
<!--        s.shop_id,-->
<!--        <include refid="selectShopProductListLocation" />-->
<!--        FROM-->
<!--        t_shop s-->
<!--        LEFT JOIN t_shop_product sp ON s.shop_id = sp.shop_id-->
<!--        LEFT JOIN t_product p ON sp.product_id = p.product_id-->
<!--        LEFT JOIN t_commercial_tenant ct on s.commercial_tenant_id = ct.commercial_tenant_id-->
<!--        <include refid="selectShopProductListWhere" />-->
<!--        AND s.commercial_tenant_id IS NOT NULL AND ct.`status` = '0'-->
<!--        ) b-->
<!--        GROUP BY-->
<!--        b.commercial_tenant_id-->
<!--        ) c-->
<!--        LEFT JOIN (-->
<!--        SELECT-->
<!--        s.*,-->
<!--        <include refid="selectShopProductListLocation" />-->
<!--        FROM-->
<!--        t_shop s-->
<!--        LEFT JOIN t_shop_product sp ON s.shop_id = sp.shop_id-->
<!--        LEFT JOIN t_product p ON sp.product_id = p.product_id-->
<!--        LEFT JOIN t_commercial_tenant ct on s.commercial_tenant_id = ct.commercial_tenant_id-->
<!--        <include refid="selectShopProductListWhere" />-->
<!--        AND s.commercial_tenant_id IS NOT NULL AND ct.`status` = '0'-->
<!--        ) d ON c.commercial_tenant_id = d.commercial_tenant_id-->
<!--        AND c.distance = d.distance-->
<!--        GROUP BY-->
<!--        d.shop_id UNION ALL-->
<!--        SELECT-->
<!--        s.*,-->
<!--        <include refid="selectShopProductListLocation" />-->
<!--        FROM-->
<!--        t_shop s-->
<!--        LEFT JOIN t_shop_product sp ON s.shop_id = sp.shop_id-->
<!--        LEFT JOIN t_product p ON sp.product_id = p.product_id-->
<!--        <include refid="selectShopProductListWhere" />-->
<!--        AND s.commercial_tenant_id IS NULL-->
<!--        GROUP BY-->
<!--        s.shop_id-->
<!--        ) a order by a.sort,a.distance-->
<!--    </select>-->

<!--    <select id="selectShopProductList" resultMap="ShopProductResult">-->
<!--        SELECT s.shop_id,-->
<!--               s.commercial_tenant_id,-->
<!--               s.shop_name,-->
<!--               s.shop_tel,-->
<!--               s.business_hours,-->
<!--               s.address,-->
<!--               s.formatted_address,-->
<!--               s.longitude,-->
<!--               s.latitude,-->
<!--               s.shop_imgs,-->
<!--               s.shop_logo,-->
<!--               s.shop_tags,-->
<!--               p.product_id,-->
<!--               p.product_name,-->
<!--               p.product_abbreviation,-->
<!--               p.product_subhead,-->
<!--               p.product_img,-->
<!--               p.product_small_img,-->
<!--               p.product_type_img,-->
<!--               p.product_affiliation,-->
<!--               p.product_type,-->
<!--               p.pickup_method,-->
<!--               p.show_original_amount,-->
<!--               p.original_amount,-->
<!--               p.sell_amount,-->
<!--               p.vip_up_amount,-->
<!--               p.to_type,-->
<!--               p.app_id,-->
<!--               p.url,-->
<!--               p.btn_text,-->
<!--               p.tags,-->
<!--               p.sort,-->
<!--               ACOS(-->
<!--                   COS(-->
<!--                       RADIANS(#{bo.latitude})) * COS(-->
<!--                       RADIANS(latitude)) * COS(-->
<!--                       RADIANS(longitude) - RADIANS(#{bo.longitude})) +-->
<!--                   SIN(RADIANS(#{bo.latitude})) * SIN(RADIANS(latitude))-->
<!--               ) * 6378 AS distance-->
<!--        FROM t_shop s-->
<!--                 LEFT JOIN t_shop_product sp ON s.shop_id = sp.shop_id-->
<!--                 LEFT JOIN t_product p ON sp.product_id = p.product_id-->
<!--        WHERE s.citycode = #{bo.cityCode}-->
<!--          AND s.STATUS = '0'-->
<!--          AND (s.show_start_date IS NULL OR s.show_start_date &lt; NOW())-->
<!--          AND (s.show_end_date IS NULL OR s.show_end_date &gt; NOW())-->
<!--          AND p.product_id IS NOT NULL-->
<!--          AND p.`status` = '0'-->
<!--          AND p.search_status = '0'-->
<!--          AND p.search = '0'-->
<!--          AND p.show_index = '1'-->
<!--          AND (p.show_start_date IS NULL OR p.show_start_date &lt; NOW())-->
<!--          AND (p.show_end_date IS NULL OR p.show_end_date &gt; NOW())-->
<!--          AND s.commercial_tenant_id IS NOT NULL-->
<!--        GROUP BY s.shop_id-->
<!--        ORDER BY p.sort, distance;-->
<!--    </select>-->
</mapper>
